body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.assign-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.assign-table th, .assign-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
}

.assign-table th {
    background-color: #333333;
    color: white;
}

.assign-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.assign-table img {
    max-width: 100px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
}

.input-placa {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555555;
}
