body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
    font-size: 24px;
}

.form-container {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"], 
input[type="number"], 
input[type="file"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="file"] {
    padding: 3px;
}

button {
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    width: 100%;
}

button:hover {
    background-color: #555555;
}

.menu-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}

.menu-link:hover {
    text-decoration: underline;
}

/* CSS para las imágenes actuales en el formulario de edición */

.current-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre las imágenes */
    margin-top: 10px;
}

.image-container {
    flex: 1 1 calc(33.333% - 10px); /* Tres imágenes por fila, ajusta según necesidad */
    box-sizing: border-box;
    max-width: 100%; /* Asegura que el contenedor no sea más ancho que su contenedor padre */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde del contenedor */
}

.image-container img {
    width: 100%;
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block; /* Elimina el espacio debajo de la imagen */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
